div.barra {
  
    height: 176px;
    left: 0px;
    top: 274px;
    background: #3FB2A9;
    border-radius: 5px;
} 
#iconAcation {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;

}

#circle {
    width: 150px;
    height: 150px;
    background: #D9D9D9;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    margin-top: 20px;
}

#circle p {
    margin:30px 0px   ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 82px;
    letter-spacing: 0.02em;
    color: #2B3C36;
    padding:12px;
    
}