
.homeGreeting p {
    margin:30px 30px  0px 30px ;
    text-align:'left';
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 82px;
    letter-spacing: 0.02em;
    color: #2B3C36;
    padding:12px;
    
}